.footer{
    width: 100%;
    padding: 80px;
    background-color: #6278F7;
    background-image: url('/public/images/fundo.png');
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}

.footer .redes{
    display: flex;
    width: 10%;
    justify-content: space-around
}

.footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}